.container {
  background-image: linear-gradient(-220deg, #acd4c8 0%, #f3d5ed 120%);
  border-radius: 15px 15px 0px 0px;
  max-width: 700px;
  margin: 0 auto;
}

.weather-app {
  padding: 15px;
  margin-bottom: 2px;
}

#cityInput {
  border-radius: 5px;
}
#submitButton {
  background-color: teal;
  color: white;
  border: transparent;
  margin-left: 3px;
}

#currentLocalButton {
  background-color: rgb(19, 105, 105);
  color: white;
  border: transparent;
}

.currentInfo {
  margin-top: 15px;
}

.cityInfo {
  padding: 0;
}
#icon {
  width: 100px;
  position: relative;
  right: 10px;
}

.cityInfo li,
.cityInfo ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.humWind li,
.humWind ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.humWind {
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 2.2;
  font-size: 15px;
}

#currentLocalButton:hover,
#submitButton:hover {
  background-color: rgba(0, 128, 128, 0.404);
}

.atualDate {
  text-align: right;
  font-size: 15px;
  color: grey;
  padding-left: 0px;
}

#description::first-letter {
  text-transform: capitalize;
}
#city {
  font-weight: bold;
  font-size: 25px;
}
#temperature {
  font-weight: bold;
  font-size: 25px;
  color: rgb(73, 73, 73);
}

#conversion {
  font-size: 12px;
  padding-left: 1px;
  position: relative;
  bottom: 10px;
}

.active {
  color: rgb(73, 73, 73);
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: rgb(73, 73, 73);
}
